SPRING_PROFILES_ACTIVE=

MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PUBLISH_PORT=

APP_PUBLISH_PORT=
TZ=

JPA_DDL_AUTO=
FLYWAY_ENABLED=

JWT_SECRET=
JWT_ACCESS_TOKEN_EXPIRATION_SECONDS=

TOSS_BASE_URL=
TOSS_DECRYPT_KEY=
TOSS_AAD=
TOSS_MTLS_CERT_PATH=
TOSS_MTLS_KEY_PATH=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_WEB_REDIRECT_URI=
GOOGLE_TOKEN_URI=
GOOGLE_USER_INFO_URI=

KAKAO_REST_API_KEY=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=
KAKAO_TOKEN_URI=
KAKAO_USER_INFO_URI=

APP_CORS_ALLOWED_ORIGINS=

OPENAI_API_KEY
